.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Ensure it's above other content */  
}

.background
{
  background-color:rgba(250, 235, 215, 0.5);
}

.tables-container {
  display: grid;
  grid-template-columns: 1% 70% 1% 27% 1%;
  gap: 0;
  width: 100%;
}