.my-table {
    border-collapse: collapse; /* Collapse table borders to avoid double borders */
    margin-left: 1%;
    width: 70%;
  }
  
  .my-table th,
  .my-table td {
    border: 1px solid #ddd; /* Add borders to table headers and cells */
    padding: 8px; /* Add padding to improve readability */
    text-align: left; /* Align text to the left within cells */
  }
  
  .my-table th {
    background-color: #f2f2f2; /* Optional: Add background color to table headers */
  }
  
.disabled_row {
    background-color: #464242;
}

.enabled_row {
    background-color: #ffffff;
}