.nav-offset {
    padding-top: 50px;
  }

.pos-avg-table {
    border-collapse: collapse; /* Collapse table borders to avoid double borders */
    margin-left: 1%;
    width: 10px;
    margin-bottom: 10px;
  }
  
  .pos-avg-table th,
  .pos-avg-table td {
    border: 1px solid #ddd; /* Add borders to table headers and cells */
    padding: 8px; /* Add padding to improve readability */
    text-align: center; /* Align text to the left within cells */
  }
  
  .pos-avg-table th {
    background-color: #f2f2f2; /* Optional: Add background color to table headers */
  }
  
