.my_player {
    background-color: rgb(77, 225, 109);
}

.available_player {
    background-color: white;
}

.ignored_player {
    background-color: lightgrey;
}

.taken_player { 
    background-color: rgb(226, 100, 100);
}

.pred_input {
    width: 58px;
}
